<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/images/profile.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/blog" title="Link to {{ site.title }} blog"
                  class="blog-button">Blog</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/projects" title="Link to {{ site.title }} projects"
                  class="blog-button">Projects</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/contributions" title="Link to {{ site.author.name }} contributions"
                  class="blog-button">Contributions</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a href="{{ site.baseurl }}/images/Curriculum_Vitae.pdf" title="Link to {{ site.author.name }} resume"
                  class="blog-button">Resume</a>
                </li>
            </ul>
          </nav>

        </div>
        <div class="navigation-wrapper">
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

              {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}"
                  title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.author.github_username %}
              <!-- Github -->
              <li class="navigation__item">
                <a href="https://github.com/{{ site.author.github_username }}"
                  title="{{ site.author.github_username }} on Github" target="_blank">
                  <i class="icon icon-social-github"></i>
                  <span class="label">Github</span>
                </a>
              </li>
              {% endif %}

              {% if site.author.gitlab_username %}
              <!-- Gitlab -->
              <li class="navigation__item">
                <a href="https://gitlab.com/{{ site.author.gitlab_username }}"
                  title="{{ site.author.gitlab_username }} on Gitlab" target="_blank">
                  <i class="fab fa-gitlab icon-gitlab"></i>
                  <span class="label">Gitlab</span>
                </a>
              </li>
              {% endif %}

              {% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}"
                  title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}

            </ul>
          </nav>

        </div>    

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>